body {
    background-color: rgb(84, 178, 144);
}

main {
    background-color: rgb(84, 178, 144);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}

/* Introduction page with the yellow background */
.hero {
    height: 300px;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
}

.title {
    padding-top: 45px;
}

/* Recommended Books: */
.recommendations-header {
    font-size: 25px;
    font-weight: bold;
    margin-top: -10px;
}

/* Each individual recommended book */
.book-list-item {
    display: flex;
    align-items: center;
    }
    
    .book-list-image {
        height: 10rem;
        margin-right: 1rem;
    }
    
    .book-list-title {
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
    }
    
    .book-list-author {
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
    }
    
    .save-button {
        border-width: 0px;
        border-radius: 2px;
    }

